extends layout

block content
  div.container-fluid
    h1.page-header #{title}
    form(enctype="multipart/form-data", method="POST", action="/upload")
      h4 Browse for a file
      input.btn.btn-default.margin(type="file", name="upload")
      input.btn.btn-default.margin(type="submit", value="upload") 
    h4 output:
    code #{list}
      
